---
import { type CollectionEntry } from "astro:content";
import { Image } from "astro:assets";

type Props = {
  post: CollectionEntry<"posts">;
};

const { post } = Astro.props;
const date = new Date(post.data.date);
const formattedDate = new Intl.DateTimeFormat('en-US', {
  year: 'numeric',
  month: 'long',
  day: 'numeric'
}).format(date);
---

<article class="articles">
  <a class="articles_image" href={`/blog/${post.slug}`}>
    <Image
      src={post.data.image}
      width={600}
      height={600 / 1.5}
      alt={post.data.title}
      class="rounded-2xl"
    />
  </a>
  <p class="tag">
    {post.data.categories}
  </p>
  <a href={`/blog/${post.slug}`} class="text-4xl">
    <h2>{post.data.title}</h2>
  </a>
  <p class="time">
    published on {formattedDate}
  </p>
  <p class="text-zinc-500 line-clamp-2 body">
    {post.body}
  </p>
</article>

<style lang="scss">
  .articles {
    display: grid;
    row-gap: 1rem;
    padding: 2.4rem 1.2rem;
    background-color: #fafafa;
    border-radius: 4px;
    box-shadow:
      0 4px 4px 0 rgba(160, 160, 160, 0.14),
      0 2px 5px 0 rgba(160, 160, 160, 0.12),
      0 1px 10px 0 rgba(160, 160, 160, 0.1);

    img {
      margin-block-end: 1rem;
      box-shadow:
        0 4px 4px 0 rgba(160, 160, 160, 0.14),
        0 2px 5px 0 rgba(160, 160, 160, 0.12),
        0 1px 10px 0 rgba(160, 160, 160, 0.1);
    }

    .tag {
      font-family: "manrope-bold", sans-serif;
      font-weight: normal;
      font-size: 1rem;
      letter-spacing: -0.6px;
      color: var(--semantic-blue-default-hover);
    }

    .time {
      margin-block: 0.5rem;
      color: var(--leather-dark-hover);
      margin-block-end: 1.2rem;
    }

    h3 {
      margin-block-start: 1.2rem;
      margin-block-end: 1.2rem;
    }

    h2 {
      font-size: 2.4rem;
      letter-spacing: -1px;
    }

    .body {
      max-width: 600px;
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 4;
    }
  }
</style>
